# Editor-based HTTP Client requests
/.idea.AmoebaGameMatcherServer/.idea/httpRequests/
# Default ignored files
/.idea.AmoebaGameMatcherServer/.idea/shelf/
# Datasource local storage ignored files
/.idea.AmoebaGameMatcherServer/.idea/dataSources.local.xml
/.idea.AmoebaGameMatcherServer/.idea/dataSources/
